{% extends 'base.html' %}
{% load i18n %}

<a href="#" onclick="document.setLangEnglish.submit();return false;">English</a>
<form name="setLangEnglish" action="/i18n/setlang/" method="POST">
	{% csrf_token %}
	<input name="next" type="hidden" value="/" />
	<input type="hidden" name="language" value="en" />
</form>

<a href="#" onclick="document.setLangPortugues.submit();return false;">Português</a>
<form name="setLangPortugues" action="/i18n/setlang/" method="POST">
	{% csrf_token %}
	<input name="next" type="hidden" value="/" />
	<input type="hidden" name="language" value="pt-br" />
</form>

<br />
Tradução vinda do Django: {{ recado do django }}
<br />
Tradução direto no Template: {% trans "Direto no Template" %}
<br />
Tradução direto no Template (Bloco): {% blocktrans %}Esse é o bloco de conteúdo{% endblocktrans %}
<br />


{% block titulo %}Principal{% endblock titulo %}

{% block conteudo %}
	<div class="col-sm-6" align="center">
    	<img class="img-responsive" src="{{ STATIC_URL }}logo/logo_G.png">
            </div>
            <div class="col-sm-6" align="center">
            	<h2>Sistema FP</h2> 
            	Um projeto legal para você aprender Python & Django na prática! Criamos um Financeiro Pessoal para entendermos como funciona as rotinas e todo o eco-sistema da internet usando essa tecnologia. <br />O código desse projeto encontra-se no <a href="https://github.com/edsonlb/projetoFP" target="_blank">Github</a> para você estudar à vontade!
            </div>
{%endblock conteudo %}